<h1><%= @article.title %></h1>
<div>
	<%=@article.body%>
</div>
<p>
	Escrito por:
	<% unless @article.user.nil? %>
		 <%= @article.user.email %>
	<% end %>
</p>
<p>
	Numero de Visitas: <%= @article.visits_count %>		
</p>
<div>
	<%=link_to "Editar", edit_article_path(@article) %>
</div>
